@import '../../../assets/styles/variable';

.Profile {
  min-height: 100vh;
  margin: auto;
  max-width: $screen;
  background: white;
  header {
    background-color: $primary;
    padding: 18px;
    border-radius: 0px 0px 30px 30px;
    .row1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 13px;
      h1 {
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        color: white;
      }
      .box {
        background: white;
        color: $primary;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        text-align: center;
        line-height: 24px;
        font-size: 12px;
      }
    }
    .row2 {
      p {
        font-weight: 700;
        line-height: 30px;
        color: white;
        &:first-child {
          font-size: 24px;
        }
        &:last-child {
          font-size: 12px;
        }
      }
    }
  }
  section {
    .container {
      a.list {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        line-height: 120%;
        padding: 22px 16px;
        border-bottom: 1px solid #e0e0e0;
        i,
        p {
          font-size: 18px;
        }
      }
    }
  }
}

.UpdateProfile {
  .boxShadow {
    position: fixed;
    bottom: 0px;
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: 0.5);
    height: 100vh;
    max-width: $screen;
    width: 100%;
    display: none;
  }
  .container {
    position: fixed;
    bottom: 0px;
    z-index: 2;
    max-width: $screen;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    pointer-events: none;
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease-in-out;
    .wrapper {
      pointer-events: fill;
      background-color: white;
      padding: 16px;
      border-radius: 20px 20px 0px 0px;
      padding: 25px;
      .header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eaeaea;
        margin-bottom: 16px;
        h1 {
          flex: 1;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
        }
        button {
          background-color: transparent;
          border: none;
          color: #2e2e2e;
          width: auto;
          padding: 12px;
        }
      }
      .formGrub {
        margin-bottom: 15px;
        label {
          display: inline-block;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #818181;
          margin-bottom: 6px;
        }
        input {
          width: 100%;
          padding: 14px 15px;
          border: 1px solid #dedede;
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
          border-radius: 8px;
          outline: none;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
        }
      }
      button {
        font-weight: 700;
        font-size: 16px;
        line-height: 25px;
        color: white;
        width: 100%;
        background-color: $primary;
        border: 1px solid $primary;
        padding: 12px 0px;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
}
