@import '../../../assets/styles/variable';

.container {
  margin: auto;
  max-width: $screen;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  header {
    display: flex;
    align-items: center;
    background-color: $primary;
    button {
      width: 56px;
      height: 56px;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 17px;
      color: white;
    }
    h1 {
      flex: 1;
      font-size: 17px;
      color: white;
      font-weight: 600;
    }
  }
  section {
    padding: 18px 18px calc(18px + 55px) 18px;
    flex: 1;
    background-color: white;
    position: relative;
    input[type='radio'] {
      display: none;
      &[id='type1'] {
        &:checked ~ .custom {
          background-color: $primary;
          color: white;
          font-weight: 600;
        }
      }
      &[id='type2'] {
        &:checked ~ .custom {
          background-color: $danger;
          color: white;
          font-weight: 600;
        }
      }
    }
    .select {
      display: grid;
      grid-template-columns: 50% 50%;
      margin-bottom: 20px;
      label {
        text-align: center;
        cursor: pointer;
        .custom {
          font-weight: 400;
          font-size: 14px;
          height: 100%;
          padding: 12px 0px;
          background-color: #e8e8e8;
        }
        &:first-child {
          .custom {
            border-radius: 8px 0px 0px 8px;
          }
        }
        &:last-child {
          .custom {
            border-radius: 0px 8px 8px 0px;
          }
        }
      }
    }
    .formGrub {
      margin-bottom: 25px;
      label {
        display: inline-block;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #818181;
        margin-bottom: 5px;
      }
      input {
        display: block;
        width: 100%;
        border: none;
        outline: none;
        font-weight: 600;
        font-size: 20px;
        border-bottom: 1px solid #d8d8d8;
        padding: 10px;
      }
      &.piutang {
        input {
          color: $primary;
        }
      }
      &.take {
        input {
          color: $danger;
        }
      }
    }
    .choice {
      width: 100%;
      padding: 12px 0px;
      border: none;
      outline: none;
      cursor: pointer;
      background: #f8f8f8;
      box-shadow: 0px 0px 8px rgba(85, 85, 85, 0.2);
      border-radius: 8px;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #2e2e2e;
      margin-bottom: 20px;
      text-transform: capitalize;
      i {
        margin-right: 12px;
      }
    }
    .form {
      .formGrub {
        color: #2e2e2e;
        margin-bottom: 20px;
        label {
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          margin-bottom: 5px;
        }
        input {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
    .save {
      position: absolute;
      bottom: 18px;
      left: 18px;
      width: calc(100% - 18px * 2);
      max-width: calc($screen - 18px * 2);
      font-weight: 600;
      font-size: 16px;
      line-height: 30px;
      color: white;
      background-color: $primary;
      padding: 10px 0px;
      border: 1px solid $primary;
      outline: none;
      box-shadow: 0px 0px 10px rgba(85, 85, 85, 0.25);
      border-radius: 8px;
      cursor: pointer;
      &:disabled {
        background: $link;
        border: 1px solid $link;
      }
    }
  }
}

.detailUser {
  margin-bottom: 12px;
  p {
    font-size: 16px;
    font-weight: 500;
  }
}
