@import '../../../assets/styles/variable';

.tooltip {
  border: 0.2px solid #d9d9d9;
  background-color: white;
  padding: 5px 12px;
  p {
    &:first-child {
      color: $primary;
    }
    &:last-child {
      color: $danger;
    }
  }
}
